{% extends 'DisneyWebpage/layout.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'main.css' %}">

<div>

    <!-- About us -->
    <div>
        <p style="font-size: 48px; color: #290568;">About us<p>
    </div>

    <!-- First frame-->
    <div class="frame">
            <img src="{% static 'walt-disney.jpg' %}" class="pic" alt="halloween">
            <div class="information ">
                <h1>Walt Disney</h1>
                <p>Walter Elias Disney was an American animator, film producer, and entrepreneur. A pioneer of the American animation industry, he introduced several developments in the production of cartoons.</p>
        </div>
    </div>

    <!-- Second frame -->
    <div class="frame">
        <div class="information ">
            <h1>THE</h1>
            <h1>MAN</h1>
        </div>
        <img src="{% static 'walt1.webp' %}" class="pic" alt="halloween">
    </div>

    <!-- Thired frame -->



</div>
