{% extends 'DisneyWebpage/layout.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'main.css' %}">
<div class="cover">
<div class="dyd2">
    <div class="dyd1">
        <p style="font-size: 48px; color: #290568;">Discover your Disneyland! </p>
    </div>
        <img src="{% static 'disney.jpeg' %}" class="dyd" alt="logo" />
    <div class="linebutton1">
        <button class="linebutton">Share your thoughts about Disney!</button>
    </div>

</div>


<div class= "upcom">
<p style="font-size: 48px; color: #290568;">Upcoming Events</p>
<div class="bigcomingevet">
        <div class="card">
            <div class="image-container">
                <img src="{% static 'halloweenParis.webp' %}" class="pic1" alt="halloween">
            </div>
            <div class="text-button-container">
                <h4 class="h4">Halloween 2023</h4>
                <h4 class="h4">at Disneyland Paris!</h4>
                <button class="button">Ticket</button>
            </div>
        </div>
        <div class="card">
            <div class="image-container">
                <img src="{% static 'halloween.jpeg' %}" class="pic1" alt="halloween">
            </div>
            <divclass="text-button-container">
                <h4 class="h4">Halloween 2023</h4>
                <h4 class="h4">at Disneyland Tokyo!</h4>
                <button class="button">Ticket</button>
            </div>
        </div>
</div>
    <div class="linebutton1">
        <button class="linebutton">Discover more</button>
    </div>
</div>
</div>

{% endblock %}