{% extends 'DisneyWebpage/layout.html' %}
<style>
    .discoverDS {
        display: flex;
        align-items: flex-end;
        gap: 32 px;
        background-color: aqua;
    }
</style>
{% load static %}
{% block title %}
Disneyland Reviews
{% endblock %}

{% block content %}
<div class="discoverDS">
    <p></p>Discover your Disneyland! </p>
    <img src="{% static 'disney.jpeg' %}" class="App-logo" alt="logo" />
</div>




<div class="upcomingevet">
    <p>Upcoming Events</p>
    <div class="card">
        <img src="halloween.png" class="App-logo" alt="halloween">
        <div>
            <h4>Halloween 2023</h4> 
            <h4>at Disneyland PARIS!</h4>
            <button>Ticket</button>
        </div>
    </div>
</div>


{% endblock %}