<style>
    .discoverDS {
        align-items: flex-end;
        gap: 32 px;
    }
    .dropdown {
        display: flex;
        width: 470 px;
        padding: 24px 0px 24px 24px;
        align-items: center;
        gap: 38px;
        color: #25055D;
    }

    .disneyinfo {
        display: flex;
        align-items: center;
        gap: 20px;
    }
</style>
{% extends 'DisneyWebpage/layout.html' %}
{% load static %}
{% block title %}
Disneyland Reviews
{% endblock %}

{% block content %}
<div class="discoverDS">
    <p style="color: #290568;
    font-family: Inter;
    font-size: 48px;
    font-style: bold;
    font-weight: 700;
    line-height: normal;
    padding">
        Places</p>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
            style="border-radius: 10px; width: 470px;
        border: 0.5px solid #290568;
        background: #EAE6F1;">
            Dropdown button
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Disneyland Hongkok</a></li>
            <li><a class="dropdown-item" href="#">Disneyland Paris</a></li>
            <li><a class="dropdown-item" href="#">Disneyland California</a></li>
        </ul>
    </div>
    <div class="disneyinfo">
        <div style="display: flex; flex-direction: column; align-items: center; gap: 72px;">
            <img src="{% static '440px-Disneyland_Park_Logo.svg.png' %}" class="App-logo" alt="logo"
                style=" width: 440px; height: 121px; margin: 0 auto;" ; />
            <p style="color: #2E0674;
            text-align: center;
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;">
                Disneyland is a theme park in Anaheim, California. Opened in 1955, it was the first theme park opened by
                The Walt Disney Company and the only one designed and constructed under the direct supervision of Walt
                Disney
            </p>
        </div>
        <div>
            <img src="{% static 'disney.jpeg' %}" class="App-logo" alt="logo"
                style=" width: 589px; height: 479px; border-radius: 20px;" ; />
        </div>
    </div>
</div>
{% endblock %}